# GitHub Staff
README.md @ChillCordDev
LICENSE @TheRealToxicDev
.github/FUNDING.yml @TheRealToxicDev

# Netlify Config
netlify.toml @TheRealToxicDev

# Gridsome Configs
gridsome.config.js @TheRealToxicDev
gridsome.server.js @TheRealToxicDev

# Static/Public Directory
static/ @TheRealToxicDev


# SRC Directory
src/
